{block content}
<div class="back-link"><a n:href="Homepage:default">Přehled</a></div>
<div n:block=title class="title">Vyplňování nových záznamů</div>
{include 'birdform.latte'}

{if $post}
	<div class="form-wrap">
		{form skipForm}
			<div class="hide">
				{input 'id'}
			</div>
			<div class="buttons skipp">
				{input 'send'}
			</div>
		{/form}		
	</div>
{/if}